@{
    ViewData["Title"] = "Home Page";

    var trasient = (OpenTelemetry)ViewBag.transient;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <b>Transient 1 </b>@trasient.value
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
